.cards {
  margin-bottom: 20px;
  width: 250px;
  height: 241px;
  border-radius: 10px;
  background: rgba(105, 13, 197, 0.103);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  /* box-shadow: 0em 1em 3em #afacb064; */
}

.cards::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: -40%;
  left: -20%;
  border-radius: 50%;
  border: 35px solid rgba(255, 255, 255, 0.102);
  transition: all .8s ease;
  filter: blur(.5rem);
}

.text {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: rgb(171, 151, 237);
  font-weight: 700;
  font-size: 1.2em;
}

.subtitle {
  font-size: .7em;
  font-weight: 500;
  color: black;
}

.date {
  font-size: .6em;
  font-weight: 300;
  color: black;
}

.icons {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 250px;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
  margin-top: 20px; /* Ajustez la valeur en fonction de votre mise en page */

}

.btn {
  border: none;
  width: 84px;
  height: 35px;
  background-color: rgba(247, 234, 234, 0.589);
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-icon {
  width: 25px;
  height: 25px;
  stroke: rgb(38, 59, 126);
}

.btn:hover {
  background-color: rgb(247, 234, 234);
}

.cards:hover::before {
  width: 140px;
  height: 140px;
  top: -30%;
  left: 50%;
  filter: blur(0rem);
}

.btn-wide {
  width: 100%;
}
.btn.decline:hover {
  background-color: rgb(251, 126, 126);
}

.btn.update:hover {
  background-color: rgb(153, 188, 151);
}
/* 
.buttontable {
  width: 120px;
  height: 30px;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(139, 113, 255);
  transition-duration: .3s;
  font-size: 14px;

} */

.cartIcon {
  width: 12px;
  height: fit-content;
}

.cartIcon path {
  fill: white;
}

/* .buttontable:active {
  transform: translate(2px ,0px);
  box-shadow: 0px 1px 0px rgb(139, 113, 255);
  padding-bottom: 1px;
}
.buttontable-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
} */


.buttonSH {
  position: relative;
  overflow: hidden;
  height: 1.5rem;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.buttonSH-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
}

.buttonSH:hover::before {
  transform: scaleX(1);
}

.buttonSH-content {
  position: relative;
  z-index: 1;
}

.buttonSH::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}



.input__container--variant {
  background: linear-gradient(to bottom, #fbf3ff, #fbf3ff);
  border-radius: 30px;
  max-width: 13em;
  padding: 1em 1em;
}

.shadow__input--variant {
  filter: blur(25px);
  border-radius: 30px;
  background-color: #fcf3ff;
  opacity: 0.5;
}

.input__button__shadow--variant {
  border-radius: 15px;
  background-color: #ba82cf;
  padding: 10px;
  border: none;
}

.input__button__shadow--variant:hover {
  background-color: #ae79c1;
}

.input__search--variant {
  width: 13em;
  align-items: center;
  border-radius: 13em;
  outline: none;
  border: none;
  padding: 0.8em;
  font-size: 1.2em;
  color: #170020;
  background-color: transparent;
}

.input__search--variant::placeholder {
  color: #190020;
  opacity: 0.7;
}

.input__container--variant {
  background: linear-gradient(to bottom, #fdf3ff, #F3FFF9);
  border-radius: 1em;
  max-width: 20em;
  padding: 0.5em;
  box-shadow: 0em 1em 3em #dfbeec64;
}
